body {
  margin:0 auto;
  font-family: sans-serif;
  letter-spacing: 1.4px;
}

/*Texts and Paragraphs*/

p {
  font-size: 10px;
  line-height: 15px;
}

h1 {
  font-size: 20px;
  line-height: 30px;
  font-family: monospace;
  font-weight: 300;
}

h2{
  font-size: 18px;
  line-height: 110%;
  font-weight: 400;
}

h4 {
  font-size: 12px;
  line-height: 170%;
  font-weight: 300;
  margin:0;
}

.text-cnt{
  font-size: 22px;
  color: #202020;
  font-weight: 800;
}

/*BOXES*/
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #f7f7f7;
}

.project{
  width: 400px;
  height: 280px;
  background: none;
  transition: background .4s;
}

.project:hover{
  background:#fafafa;
  transition: background 0s;
}

.info-left {
  position: absolute;
  top: 11%;
  left: 5%;
  max-width: 170px;
}

.tip {
  position: absolute;
  text-align: right;
  top: 6px;
  left: -90px;
  transform: rotate(-90deg);
}

.info-right {
  position: absolute;
  bottom: 6%;
  right: 3%;
  max-width: 550px;
}

/*COLORS*/

.bg-green {
  background: #202020;
}
